body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.2rem;
  color: #222831;
}

h3 {
  color: #222831;
  font-size: 1.8rem;
  margin: 50px 0 20px;
  font-weight: bold;
}

/* TOP CONTAINER */
#title {
  background-color: #222831;
}

.container {
  padding: 0;
  /* max-width: 1140px; */
}

/* Navigation Bar */
.navbar {
  padding: 1rem 0 3rem 0;
}

.navbar-dark .navbar-brand {
  font-family: 'Girassol', cursive;
  font-size: 2rem;
  color: #ffd369;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #ffd369;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ececec;
  padding-left: 30px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #ffd369;
}

.navbar-nav .nav-link {
  padding-right: 30px;
  padding-left: 0;
}

/* Title */

.container-title {
  position: relative;
  text-align: left;
  padding-bottom: 60px;
}

.top-left {
  position: absolute;
  top: 20%;
  left: 7%;
}

.h1-normal {
  color: #ececec;
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
  margin: 0;
  letter-spacing: 2px;
}

.h1-italic {
  color: #ececec;
  font-family: 'Playfair Display', serif;
  line-height: 1.6;
  margin: 0;
  letter-spacing: 2px;
  font-style: italic;
}

.h1-background {
  margin: 0;
  padding: 0 10px 0;
}

.btn {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0.2rem;
}

@media (max-width: 950px) {
  .btn-lg {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
}

.btn-outline-secondary {
  font-family: 'Montserrat', sans-serif;
  color: #ececec;
}

.btn-outline-secondary:hover {
  color: #ffd369;
  background-color: inherit;
}

.img-fluid {
  max-width: 100%;
  opacity: 0.8;
}

/* Features section */
#features {
  background-color: #ececec;
  padding: 150px 0;
}

.features-img {
  max-width: 100%;
}

.col-sm-4 {
  padding-top: 3%;
}

@media (max-width: 590px) {
 .features-img {
  max-width: 50%;
 }
}

@media (min-width: 590px) and (max-width: 992px) {
  p {
    font-size: 1rem;
    color: #222831;
  }

  h3 {
    color: #222831;
    font-size: 1.2rem;
    margin: 50px 0 20px;
    font-weight: bold;
  }
}


/* Testimonial section */

#testimonials {
  background-color: #494e54;
  text-align: center;
  color: #ececec;
}

.testomonial-text {
  font-family: 'Playfair Display', serif;
  color: #ececec;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #494e54;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
}

#pricing {
  background-color: #ececec;
  text-align: center;
  padding: 100px;
}

.card-title {
  font-weight: bold;
}

.pricing-title {
  font-weight: bold;
  margin-bottom: 50px;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #494e54;
  text-align: center;
  margin: 0;
  padding: 7% 15%;
}

#footer {
  background-color: #ececec;
  text-align: center;
  margin: 0;
    padding: 3% 2%;
}

.icon {
  padding: 0 20px;
  font-size: 1rem;
}

.footer-text {
  margin: 0;
  padding: 2% 2% 0;
  font-size: 0.8rem;
}
